.back-to-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 4.55vw;
    bottom: 11vh;
    bottom: 100px;
    padding: 4px;
    opacity: 0;
    cursor: pointer;
    display: block;
    transition: 0.5s;
}

.back-to-top:hover {
    filter: drop-shadow(0 0 12px #fff);
}

.show {
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width:1875px) {
    .back-to-top {
        right: 8.5vw;
    }
}

@media screen and (max-width: 1065px) {
    .back-to-top {
        display: none;
    }
}