.random {
    width: 70px;
    height: 70px;
    position: absolute;
    left: calc(100vw - 95.75%) !important;
    bottom: 11vh;
    bottom: 100px;
    padding: 4px;
    cursor: pointer;
    filter: drop-shadow(0 0 0 #fff);
    display: none;
    transition: 0.5s;
}

.random_database {
    position: fixed !important;
}

.random:hover, .random_database:hover {
    filter: drop-shadow(0 0 15px #fff);
    transition: 0.5s;
}

@media screen and (max-width:1875px) {
    .random {
        left: 8.5vw ;
    }
}

@media screen and (max-width:1486px) {
    .random {
        left: 8.5vw;
    }
}